<a href="https://colab.research.google.com/github/AlexeyKatko/ColabKatko/blob/main/%D0%BF%D0%B8%D1%82%D0%BE%D0%BD_%D0%B4%D0%BB%D1%8F_%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%BE%D0%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Задание 1##

### Задание 1.1
Соедините два словаря в один

In [ ]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

dict3 = dict1 | dict2
(dict3)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [ ]:
dict1.update(dict2)
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

#### Задание 1.2

Напишите функцию, которая на вход принимает два словоря и возвращает один объединенный словарь

Используйте аннотирование типов

In [ ]:
def merge(dict1: dict, dict2: dict) -> dict:
 # print(dict2.items())
 # print(list(dict2.items()))
  for key, value in dict2.items():
    dict1[key]=value
  return dict1

In [ ]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [ ]:
merge(dict1, dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

# Задание 2
## Напишите фунцию которая состоит из двух списков, один делает словарь, где элементы из первого списка - ключи, а элементы из второго списка - значения

keys = ['One', 'Two', 'Three']

Values = [1, 2, 3]

Используйте аннотирование типов

## Задание 2.1
Используйте цикл for

In [ ]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]
dict01 = {}
for i in range(len(keys)):
  dict01[keys[i]] = values[i]

dict01

{'One': 1, 'Two': 2, 'Three': 3}

### Задание 2.2
Используйте dict comprehensions

In [ ]:
{keys[i]: values[i] for i in range(len(keys))}

{'One': 1, 'Two': 2, 'Three': 3}

# Задание 3
Извлеките только два ключа name и age из представленного словаря

client_dict = {"name": "John", "age": 25, "salary": 5000, "city": "Moscow"}

In [ ]:
client_dict = {
    "name": "John",
    "age": 25, "salary": 5000,
    "city": "Moscow"
  }

## Задание 3.1
Напишите функцию с циклом for

функция на вход принимает:
- исходный словарь
- ключи, которые нужно извлечь (аргумент по умолчанию)
- На выходе словарь с нужными ключами
Используйте аннотирование типов

In [ ]:
def keys_from_dict(d: dict, keys: list = ['name', 'age']) -> dict:
  res={}
  for k in keys:
    res.update({k:d[k]})
  return res

keys_from_dict(client_dict)

{'name': 'John', 'age': 25}

### Задание 3.2
Используйте dict comprehensions

In [ ]:
{key: client_dict[key] for key in ['name', 'age']}

{'name': 'John', 'age': 25}

# Заданиие 4

## Задание 4.1
Сгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random Зафиксируйте псевдогенерацию, что бы сгенерированные значения всегда были одинаковые Используйте list compresions

In [ ]:
import random
import time

In [ ]:
random.seed(0)
rand_lst = [random.randint(0, 100) for _ in range(5)]
rand_lst

[49, 97, 53, 5, 33]

### Задание 4.2
Генератор на вход принимает список с данными о клиенте (данные
из пункта 4.1)
Внутри генератора реализуйте обход по списку с данными
На каждой итерации генератор будет возвращать кортеж из двух
элементов:
1. данные по клиенту (в зависимости от итерации, на 0 итерации
вернется 0 элемент, на 1 итерации вернется 1 элемент и тд)
2. целочисленное значение, которое показывает, сколько секунд
прошло с предыдущей итерации
Примечание: секунды, которые возвращаются должны показывать время не
с начала запуска генератора, а именно то время, которое прошло с
предыдущей итерации. А значит время на первой итерации должно
равняться 0.
Используйте функцию time из модуля time для подсчета времени.
Чтобы проверить работу таймера, запустите проход по
генератору в цикле с time.sleep(2)

In [ ]:
def time_lst_gen(lst):
  current_time = time.time() #начало отчета
  for item in lst:           #проходим по списку
    yield item, int(current_time)

# Задача 5

## Задание 5.1
Найдите картинку в интернете и прикрепите её
в ячейку с текстом

<img src='https://sportishka.com/uploads/posts/2022-04/1650491850_11-sportishka-com-p-venetsiya-italiya-dostoprimechatelnosti-kr-11.jpg'>

### Задание 5.2
 Создайте следующую таблицу в ячейке с текстом


<table>
  <tr>
    <td> </td>
    <td>До события</td>
    <td>Во время события</td>
  </tr>
  <tr>
    <td>1 контрольная точка</td>
    <td>250</td>
    <td>500</td>
  </tr>
    <tr>
    <td>2 контрольная точка</td>
    <td>350</td>
    <td>700</td>
  </tr>
     <tr>
    <td>3 контрольная точка</td>
    <td>400</td>
    <td>800</td>
 <tr>
    <td>Итого за победу</td>
    <td>1000</td>
    <td>2000</td>
</table>

# Задача 6
Напишите функцию, которая может принимать любое
количество трат пользователя и считать сумму и среднее.
- На вход поступают целочисленные значения в любом
количестве
- На выходе словарь с ключами суммы трат и средней
траты

In [ ]:
from inspect import ArgSpec
import statistics as st

def sum_trat(*args):
  #print(args)
  s = sum(args)
  a = s/len(args)
  return {'Sum': s, 'Average': a}

sum_trat(500, 265, 578, 658)


(500, 265, 578, 658)
{'Sum': 2001, 'Average': 500.25}

{'Sum': 2001, 'Average': 500.25}

# Домашнее задание 1

Оформление

# Домашнее задание 2

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое
количество названий фруктов и их количество, а возвращает
общее количество фруктов на складе

In [4]:
total_fruits = {'banana': 5, 'mango': 7, 'apple': 8}
total = sum(total_fruits.values())
print(total)

20

In [9]:
def total_amount_of_fruits(**fruits):
    total = 0
    for amount in fruits.values():
        total += amount
    return total
print(total_amount_of_fruits(бананы=5, апельсины=7, яблоки=8))

20

# Домашнее задание 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [6]:
array = [100, 125, -90, 345, 655, -1, 0, 200]
print(sum(a for a in array if a > 0))

1425

# Домашнее задание 4
Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

## Задание 4.1
4.1 Найдите, какая выручка у компании в ноябре
- Используйте list comprehensions

In [10]:
purchase_dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30',
                  '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18',
                  '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20',
                  '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
                  '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
purchase_amounts = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275,
                    4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

# Найдем выручку компании в ноябре
november_revenue = sum([amount for date, amount in zip(purchase_dates, purchase_amounts) if date.startswith('2021-11')])
print(f'Выручка компании в ноябре: {november_revenue}')

Выручка компании в ноябре: 25098

### Задание 4.2

4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [11]:
from typing import List, Dict
from datetime import datetime

In [20]:
dt = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
# Суммы покупок по датам
sm = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

df = pd.DataFrame()
df['Date'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in dt]
df['Sum'] = sm
df['Месяц'] = pd.DatetimeIndex(df['Date']).month
df.groupby('Месяц').sum()

<ipython-input-20-063094cf0eeb>:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Месяц').sum()

         Sum
Месяц
9      25647
10     28645
11     25098
12     45452